FIREBASE_API_KEY=AIzaSyApeNYXp-uf1u_AyYmdPOtSS7GcZw5cbOA
FIREBASE_AUTH_DOMAIN=j-board-61433.firebaseapp.com
FIREBASE_PROJECT_ID=j-board-61433
FIREBASE_STORAGE_BUCKET=j-board-61433.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=830045263237
FIREBASE_APP_ID=1:830045263237:web:b83f5fad1b5d563e67e0ec
OPENAI_API_KEY=sk-your-openai-api-key-here
